<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel ="styleSheet" href ="./style.css" />
</head>
<body>
    <main>
        <!-- by default method is get -->
        <form method ="post" action ="/login">  
          <!-- in action specify the route -->
          <h1> Login Now </h1>
         
            <input type ="email" name ="email"  placeholder="email" value= <%= locals.email %> >
            <input type ="password" name ="password" , placeholder="Password"/>
            <p class ="error"><%= locals.message %></p>
            <button type ="submit">Log in </button>
    
        </form>
     </main>
</body>
</html>