<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel ="styleSheet" href ="./style.css" />
</head>
<body>
    <main> 
        <!-- by default method is get -->
        <form method ="post">  
          <!-- in action specify the route -->
          <h1>Register Now</h1>
            <input type ="text" name ="name" , placeholder ="Name"/>
            <input type ="email" name ="email" , placeholder="email"/>
            <input type ="password" name ="password" , placeholder="Password"/>
          <button type ="submit">sign up </button>
    
        </form>
     </main>
</body>
</html>